<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Document</title>
    {% endblock %}
</head>
<body>
    

    <a href="/main_admin"><h1>HOTEL ADMIN</h1></a>
    
    <a href="/room_mgmt"><button>Room Management</button></a>
    
    <a href="/staff_mgmt"><button>Staff Management</button></a>

    <a href="/rest_mgmt"><button>Restrarent Management</button></a>

    <a href="/user_mgmt"><button>Customer Management</button></a>

    {% block h1 %}

    {% endblock %}

    
</body>
</html>